@page "/"
<UIColumns>
    <UIContainer><UIContent><h3>系统监控</h3></UIContent></UIContainer>
    <UIColumn Size="UIEColumnSize.Half">
            <canvas id="vfpriceline"></canvas>
    </UIColumn>
    <UIColumn Size="UIEColumnSize.Half">
        <p class="bd-notification is-danger">Auto</p>
    </UIColumn>
</UIColumns>